$default: #8d8d8d;
$accent: #fd3c3d;

%FugazOne-400 {
	font-family: "FugazOne-Regular";
	font-weight: 400;
}

%SourceRegular {
	font-family: "SourceSansPro-Regular";
	font-weight: 400;
}

%SourceBold {
	font-family: "SourceSansPro-Bold";
	font-weight: 700;
}

%SourceBlack {
	font-family: "SourceSansPro-Black";
	font-weight: 900;
}

%SourceBlackItalic {
	font-family: "SourceSansPro-BlackItalic";
	font-weight: 900;
	font-style: italic;
}
